<a href="https://colab.research.google.com/github/Ira-a02/DataAnalysis/blob/main/ml1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import seaborn as sns

In [ ]:
titanic = pd.read_csv('titanic.csv', index_col='PassengerId')

1.Какое количество мужчин и женщин ехало на корабле? В качестве ответа приведите два числа через пробел.

In [ ]:
counts = titanic['Sex'].value_counts()
male_count = counts.get('male', 0)
female_count = counts.get('female', 0)
print(male_count, female_count)

with open('titanic_1.txt', 'w') as file:
    file.write(f"{male_count} {female_count}")

577 314

 2. Какой части пассажиров удалось выжить? Посчитайте долю выживших пассажиров. Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен), округлив до двух
 знаков

In [ ]:
passanger_count = titanic['Survived'].value_counts()
survived_passanger_count = passanger_count.get(1)
unsurvived_passanger_count = passanger_count.get(0)
total_passengers =survived_passanger_count + unsurvived_passanger_count
interest =  round(survived_passanger_count / total_passengers ,2)*100 if total_passengers > 0 else 0
print(interest)

with open('titanic_2.txt', 'w') as file:
    file.write(f"{interest}")

38.0

 3. Какую долю пассажиры первого класса составляли среди всех пассажиров? Ответ приведите в процентах (число в интервале от 0 до
 100, знак процента не нужен), округлив до двух знаков.

In [ ]:
passanger_count_class = titanic['Pclass'].shape[0]
first_class_count=titanic[titanic['Pclass'] == 1].shape[0]
procent = round(first_class_count/passanger_count_class,2)*100
print(procent)

with open('titanic_3.txt', 'w') as file:
    file.write(f"{procent}")

24.0

4. Какого возраста были пассажиры? Посчитайте среднее и медиану возраста пассажиров. Посчитайте среднее и медиану возраста пассажиров. В качестве ответа приведите два числа через пробел

In [ ]:
mean_age = titanic['Age'].mean()
median_age = titanic['Age'].median()
print(f"{mean_age:.2f} {median_age:.2f}")

with open('titanic_4.txt', 'w') as file:
    file.write(f"{mean_age:.2f} {median_age:.2f}")

29.70 28.00

 5. Коррелируют ли число братьев/сестер с числом родителей/детей?
 Посчитайте корреляцию Пирсона между признаками SibSp и Parch

In [ ]:
data = titanic[['SibSp','Parch']]
cor = titanic['SibSp'].corr(titanic['Parch'])
cor

with open('titanic_5.txt', 'w') as file:
    file.write(f"{cor}")

 6. Какое самое популярное женское имя на корабле?

In [ ]:
import re


data_female_name = titanic[titanic['Sex'] == 'female']

first_names = []
name_counts = {}

for name in data_female_name['Name']:
    miss_match = re.search(r'Miss\.\s*(\w+)', name)
    if miss_match:
        first_name = miss_match.group(1)
        first_names.append(first_name)
    else:
        bracket_match = re.search(r'\((\w+)', name)
        if bracket_match:
            first_name = bracket_match.group(1).split()[0]
            first_names.append(first_name)

for name in first_names:
    if name in name_counts:
        name_counts[name] += 1
    else:
        name_counts[name] = 1

most_common_name = None
max_count = 0

for name, count in name_counts.items():
    if count > max_count:
        max_count = count
        most_common_name = name

print(most_common_name)

with open('titanic_6.txt', 'w') as file:
    file.write(f"{most_common_name}")

Anna