<a href="https://colab.research.google.com/github/Ira-a02/DataAnalysis/blob/main/ml2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd
import seaborn as sns
import sklearn
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import OneHotEncoder

 1. Загрузите выборку из файла titanic.csv с помощью пакета Pandas

In [8]:
titanic = pd.read_csv('titanic.csv', index_col='PassengerId')

In [11]:
titanic

             Survived  Pclass     Sex   Age     Fare
PassengerId
1                   0       3    male  22.0   7.2500
2                   1       1  female  38.0  71.2833
3                   1       3  female  26.0   7.9250
4                   1       1  female  35.0  53.1000
5                   0       3    male  35.0   8.0500
...               ...     ...     ...   ...      ...
887                 0       2    male  27.0  13.0000
888                 1       1  female  19.0  30.0000
889                 0       3  female   NaN  23.4500
890                 1       1    male  26.0  30.0000
891                 0       3    male  32.0   7.7500

[891 rows x 5 columns]

 2. Оставьте в выборке четыре признака: класс пассажира (Pclass), цену билета (Fare), возраст пассажира (Age) и его пол (Sex)

In [10]:
titanic = titanic.drop(['Name', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked'], axis = 1)

 3. Обратите внимание, что признак Sex имеет строковые значения

In [17]:
encoder = OneHotEncoder(sparse_output=False)  # Обновлено на sparse_output
one_hot_encoded = encoder.fit_transform(titanic[['Sex']])
one_hot_df = pd.DataFrame(one_hot_encoded, columns=encoder.get_feature_names_out(['Sex']))
titanic = pd.concat([titanic.drop(['Sex'], axis=1), one_hot_df], axis=1)

 4. Выделите целевую переменную она записана в столбце Survived.

In [20]:
X = titanic[['Fare', 'Age', 'Sex_female']]
y = titanic['Survived']

 5. В данных есть пропущенные значения например, для некоторых
 пассажиров неизвестен их возраст. Такие записи при чтении их в
 pandas принимают значение nan. Найдите все объекты, у которых
 есть пропущенные признаки, и удалите их из выборки

In [19]:
titanic = titanic.dropna()

 6. Обучите решающее дерево с параметром random_state=241 и остальными параметрами по умолчанию

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=241)

model = DecisionTreeClassifier(random_state=241)
model.fit(X_train, y_train)

 7. Вычислите важности признаков и найдите два признака с наибольшей важностью. Их названия будут ответами для данной задачи
 (в качестве ответа укажите названия признаков через запятую без
 пробелов)

In [26]:
feature_importances = pd.DataFrame(model.feature_importances_, index=X.columns, columns=['importance']).sort_values('importance', ascending=False)
top_features = feature_importances.head(2).index.tolist()
print(','.join(top_features))

Fare,Age